<h1 class="text-center">Hola <%= @user.name %></h1>
    <h5 class="bg-danger">Tenemos una mala noticia</h5>
    <p>
      Este es un correo de notificacion ya que el evento <%=@event.name%> fue eliminado por su organizador (<%=@event.organization.firm%>).

    </p>
    <br>
    <p>
      Esperamos que esto no afecte tu cronograma :)
    </p>