<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><span style="color: #ff0000;"><strong>Hola <%= @user.name %>!</strong></span></h1>
<p><span style="color: #0000ff;">Te has unido al evento <%= @event.name %> en Bouele!<br /></span></p>
  </body>
</html>

