<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><span style="color: #ff0000;"><strong>Hola <%= @user.name %></strong></span></h1>
<p><span style="color: #0000ff;">Has decididio cancelar tu participacion al evento <%= @event.name %> al que te habias unido en Bouele<br /></span></p>
<p><span style="color: #0000ff;">(っ＾▿＾)3</span></p>
  </body>
</html>

